/* Establishing colors used frequently throughout for easy updating in the future */
:root {
  --primary: #3974ff;
  --secondary: white;
  --pop: #b37f04;
}

/* Removing the default CSS styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establishing the general settings for all body styling */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary);
  background-color: var(--secondary);
}

/* Header styling starts here */
header {
  display: flex;
  background-color: var(--primary);
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

header div {
  box-shadow: 5px 5px 5px #ffc438;
}

header h1 {
  color: var(--primary);
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: var(--secondary);
  border: 5px solid var(--secondary);
  padding: 10px;
}

header nav {
  margin: 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  color: var(--secondary);
}

header nav ul li a {
  padding: 8px;
  font-size: 20px;
  margin: 20px 20px 0 0;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary);
}

header nav ul li a:hover {
  color: var(--accent);
  text-decoration: underline;
}

/* Hero styling starts here */
.hero {
  display: flex;
  background-image: url("../images/bonnie-blue-dress.png");
  height: 600px;
  background-size: cover;
  background-position: top;
  justify-content: space-around;
  align-items: center;
}

.hero .hero-quote {
  display: flex;
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  color: --primary;
  background-color: white;
  padding: 20px;
  position: absolute;
  box-shadow: 5px 5px 5px #ffc438;
}

.hero .fortune-cookie {
  font-size: 12px;
  font-style: italic;
}

/* Section title styling starts here */
.section-title {
  border-right: 5px solid var(--pop);
  min-height: 100%;
  padding-right: 30px;
  text-align: right;
  min-width: 20%;
  max-width: 20%;
}

.section-title h2 {
  font-size: 42px;
}

/* About Me section styling starts here */
.about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 30px;
}

.about p {
  font-size: 20px;
  padding: 0 30px;
  line-height: 1.7;
  width: 75%;
}

/* My Work section styling starts here */
.work {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.projects-grid-wrapper {
  display: flex;
  width: 80%;
  height: 500px;
  padding: 0px 0px 0px 40px;
  justify-content: left;
}

.projects-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.project {
  display: flex;
  border: solid 5px var(--pop);
  justify-content: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 1;
}

.project:hover {
  opacity: 0.7;
}

.project-label {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px;
}

.parents-and-kid {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("../images/parents-and-kid.jpeg");
}

.girl-moving-excited {
  background-image: url("../images/girl-moving-excited.jpeg");
}

.family-new-house {
  background-image: url("../images/family-new-house.jpeg");
}

.smiling-baby {
  background-image: url("../images/smiling-baby.jpeg");
}

.grandpa-and-grandson {
  background-image: url("../images/grandpa-and-grandson.jpeg");
}

/* Contact Me section styling starts here */
footer {
  display: flex;
  padding: 30px;
  align-content: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: center;
  min-height: 100px;
  width: 70%;
}

footer ul li {
  font-weight: bold;
}

footer ul li a {
  text-decoration: none;
  color: var(--primary);
  padding: 8px;
  font-weight: bold;
}

footer ul li a:hover {
  color: var(--accent);
  text-decoration: underline;
}

.contact-items {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

/* Media query for tablet screens and max width screens of 1024px */
@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 20px;
    letter-spacing: 1.5px;
  }

  header nav ul li a {
    padding: 4px;
    font-size: 15px;
  }

  .hero .hero-quote {
    margin: 30px;
    padding: 20px;
  }

  .hero .hero-quote {
    font-size: 24px;
  }

  .section-title h2 {
    font-size: 30px;
  }

  .about p {
    font-size: 16px;
    line-height: 1.6;
  }
}

footer ul li {
  font-weight: normal;
  font-size: 15px;
}

footer ul li a {
  padding: 20px;
  font-weight: normal;
}

/* Media query for mobile phone screens and max width screens of 844px */
@media screen and (max-width: 844px) {
  header {
    justify-content: center;
    padding: 20px;
  }

  header nav ul {
    min-height: 80px;
  }

  .hero {
    flex-direction: column;
  }

  .section-title h2 {
    font-size: 20px;
  }

  .about {
    flex-direction: column;
  }

  .title {
    border-bottom: 5px solid var(--pop);
    border-right: none;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .about p {
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    padding: 15px;
  }

  .work {
    flex-direction: column;
    padding: 30px 0;
  }

  .projects-grid-wrapper {
    width: 100%;
    padding: 10px;
  }

  .projects-grid {
    width: 80%;
  }

  footer {
    flex-direction: column;
  }

  footer ul {
    flex-direction: column;
  }

  .contact-items {
    width: 100%;
  }

  footer ul li {
    padding: 30px;
    text-align: center;
  }
}
